
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nawabody{
    background-color: #f2f2f2;
}
#nawabody p{
    color: black;
    font-size: 20pt;
    font-family: 'Lato', sans-serif;
}
#nawabody h1{
    color: black;
}

#tucanbody{
    background-color: #232323;
}
#tucanbody p{
    color: white;
    font-size: 20pt;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
#tucanbody h1{
    color: #f2f2f2;
}
#tucanbody header{
    background-color: #232323;
}
#tucanbody header nav a{
    color: white;
}
#tucanbody .dropdown-content{
    background-color: #232323;
}


#kinkclubbody{
    background-color: black;
}
#kinkclubbody h1{
    color: white;
}
#kinkclubbody p{
    color: white;
    font-size: 20pt;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
#kinkclubbody header{
    background-color: black;
}
#kinkclubbody header nav a{
    color: white;
}
#kinkklubbody .dropdown-content{
    background-color: black;
}


/*----karusel*/
.containerkarusel {
    position: relative;
    display: block;
    width: 100%;
    height: 940px;
    margin: 0 auto;
    margin-top: 100px;
}
    .pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 45s infinite;
    animation: fade 45s infinite;
  }
  #pic1 {
    animation-delay: 0s;
    background-image: url(images/LkaruselN1.jpg);
  }
  #pic2 {
    animation-delay: 5s;
    background-image: url(images/LkaruselT1.jpg);
  }
  #pic3 {
    animation-delay: 10s;
    background-image: url(images/LkaruselK1.jpg);
  }
  #pic4 {
    animation-delay: 15s;
    background-image: url(images/LkaruselN2.jpg);
  }
  #pic5 {
    animation-delay: 20s;
    background-image: url(images/LkaruselT2.jpg);
  }
  #pic6 {
    animation-delay: 25s;
    background-image: url(images/LkaruselK2.jpg);
  }
  #pic7 {
    animation-delay: 30s;
    background-image: url(images/LkaruselN3.jpg);
  }
  #pic8 {
    animation-delay: 35s;
    background-image: url(images/LkaruselT3.jpg);
  }
  #pic9 {
    animation-delay: 40s;
    background-image: url(images/LkaruselK3.jpg);
  }
 
 

  @-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    6% {
      opacity: 1;
    }
    11% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    6% {
      opacity: 1;
    }
    11% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.Lfilmtop{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 120px;
}
.helena{
    width: 40%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 120px;
}
.Mfilmtop{
    width: 100%;
    height: auto;
    display: none;
}

/*---------billeder---------*/
.bfuldskærm{
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 50px;
}
.topmargin50{
    margin-top: 50;
}
.laptopbillede{
    display: block;
}
.mobilbillede{
    display: none;
}

/*---------------------------------TEKST--------------------------------*/

h1{
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 100pt; 
}
.kasseløsphvid{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
    font-weight:bolder;
    color: rgb(255, 255, 255);
}
.kasseløsp{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
}
.fed{
    font-weight:bolder;
}

/*---------------------------------BODY--------------------------------*/
body a{
    text-decoration: none;
    color: black;
}
body a:hover{
    text-decoration: underline;
    
}

/*---------------------------------------HEADER--------------------------------*/
#burgermenu{
    display: none; /*dækker over den ekstra menu - burgermenuen - der ikke skal vises på laptop*/
}
.anchor{
    min-height: 2px;
    opacity: 0;
}
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    display: block;
    background-color: #f2f2f2;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a{
    padding-left: 35px;
    padding-right: 35px;
    text-decoration:none;
    color: #666666;
    font-family: 'Lato', sans-serif;
}
#logo{
    width: 89px;
    left: 0px;
    padding-top: 20px;
}
header nav a:hover{
    text-decoration: underline;

}

/*dropdown------------------------------------------*/
.dropdown{
    position: relative;
    display: inline-block;
  }
  
.dropdown-content{
    display:none;
    color: #666666;
    position: absolute;
    z-index: 1;
    min-width: 300px;
    background-color: #f2f2f2;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}
#tucanbody .dropdown-content{
    background-color: #232323;
}
#kinkclubbody .dropdown-content{
    background-color: black;
}
.dropdown-content a:hover{
    text-decoration: none;
    color: #666666;
    text-decoration: underline;
}
.dropdown:hover .dropdown-content{
    display: block;   
}

/*burgerikon---------------------------------*/
.burgerikon .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
.burgerikon .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.burgerikon .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
.burgerikon .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
.burgerikon .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
.burgerikon .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
.burgerikon{
    display: none;
    
}
.burgerikon input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
.burgerikon input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
.burgerikon input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
.burgerikon input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
.burgerikon input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
/*-----------FLEXBOKSE-------------*/
.flexbillede{
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.flex1b1t{
    display: flex;
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 0px;
    justify-content: space-between;
    gap: 5%;
    margin-top: 200px;
    margin-bottom: 50px;
}
.columnreverse{
    padding-left: 0px;
    padding-right: 10%;
}
.flex2b1t{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    gap: inherit;
    margin-top: 200px;
    margin-bottom: 50px;
    padding-right: 10%;
}
.freverse{
    padding-right: 0%;
    padding-left: 10%;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 200px;
    gap: 6%;
    
}
/*--------------BOKSE UDEN FLEX-----------*/
.baggrundstekstur{
    width: 100%;
    height: auto;
    background-image: url(images/nawatextur.jpg);
    background-size: 100% 100%;
    padding-top: 100px;
    padding-bottom: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.bogt{
    width: 35%;
    height: auto;
}
.textucan{
    background-image: url(images/textur1.png);
    background-size: 100% 100%;
}
.texkinkclub{
    background-image: url(images/texkinkclub.jpg);
    background-size: 100% 100%;
}
#sawaru{
    width: 30%;
    height: auto;
    margin: auto;
    margin-bottom: -100px;
    margin-top: 50px;
    display: block;
}
/*------------FLEX INDHOLD----------*/
.flex1b1ttekst{
    width: 25%;
    height: auto;
}
.Lflex1b1tbillede{
    width: 50%;
    height: auto;
    padding-right: 0px;
    display: block;
}
.Mflex1b1tbillede{
   display: none;
}
.mbilledembaggrund{
    display: none;
}
.lbilledembaggrund{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
}
.lbogtbillede{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 50px;
}
.mbogtbillede{
    display: none;
}
.lflex2b1tbillede{
    width: 50%;
    height: auto;
    margin-left: 0px;
    display: block;
}
.reverse{
    margin-right: 0px;
}
.mflex2b1tbillede{
    display: none;
}
.l2btextur{
    width: 50%;
    height: auto;
    display: block;
}
.m2btextur{
    width: 80%;
    height: auto;
    display: none;
}
footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: inherit;
    background-color: #f2f2f2;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 150px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 300px;
}
#tucanbody footer{
    background-color: #232323;
    border-top-color: white;
}
#tucanbody footer a{
    color: white;
}

#kinkclubbody footer{
    background-color: black;
}
#kinkclubbody footer a{
    color: white;
}
@media screen and (max-width: 900px){
   
    p{
        font-size: 17pt;
    }
    .pbaggrund{
        margin: 10px, 10px, 50px, 10px; 
    }
    #logo{
        display: none;
    }
    header nav{
        display: none; /*dækker over laptopmenuen, så den ikke vises på mobil*/
    }
    /* burgermenu----------------------------*/
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    #burgermenu{
        margin-top: -25px;
        display: block; /*burgermenu vises*/
    }
    .menu-items {
        margin-top:-25px; /*for at få menu-items kassen til at gå helt op til toppen af skærmen - ellers vistes lidt af billedet i toppen*/
    }
    .container {
        width: 100%;
        margin: auto;
      }
    .burgerlogo{
        padding-top: 70px;
        padding-left: 30px;
    } 
    .navbar {
        width: 100%;
    }
      
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        /*margin-top: 20px;*/
    }
      
    .navbar .menu-items {
        display: flex;
    }
      
    .navbar .nav-container li { /*for at alle punkter ikke får en prik foran sig (fordi <li>)*/
        list-style: none;
    }
      
    .navbar .nav-container a {
        text-decoration: none;
        color: #666666;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }
      
    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }
      
    .nav-container .checkbox { /*styling af den usynlige chechbox, der ligger under burgerikonet, så det virker når man klikker på det - ellers er det bare et billede*/
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 40px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
      
    .nav-container .hamburger-lines { /*ja - burgerlinjernes styling så de ses som burger*/
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
      
    .nav-container .hamburger-lines .line { /*styling af den enkelte linje i burgeren*/
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #666666;
    }
      
    .nav-container .hamburger-lines .line1 { 
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
      
    .nav-container .hamburger-lines .line2 { 
        transition: transform 0.2s ease-in-out;
    }
      
    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
      
    .navbar .menu-items { /*styling til hvordan linksene er placeret og transformeres*/
        padding-top: 120px;
        background-color: #f2f2f2;
        height: 110vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        line-height: 10PX;
    }
    #tucanbody .navbar .menu-items{
        background-color: #232323;
    }
    #kinkclubbody .navbar .menu-items{
        background-color: black;
    }
   
    .navbar .menu-items li { /*tekststørrelse, -type og den slags*/
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
        padding-left: 30%;
    }
    .navbar .menu-items .ddc { /*det samme, men til de punkter, der var dropdown content (derfor ddc) i laptopnaven*/
        margin-bottom: 1.2rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }
    #burgerlogo {
        position: absolute;
        top: 5px;
        left: 15px;
        width: 10%;
        height: auto; 
        margin-top: 20px;
    }
      
    .nav-container input[type="checkbox"]:checked ~ .menu-items { /* hvad der sker når den usynlige checkbox er checket af*/
        transform: translateX(0);
    }
      
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 { /*øverste burgerlinje drejer højre ende ned*/
        transform: rotate(45deg);
    }
      
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 { /*midterste linje forsvinder*/
        transform: scaleY(0);
    }
      
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {/*nederste burgerlinje drejer højre ende op*/
        transform: rotate(45deg);
        transform: rotate(-45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .logo{
        display: block;
    }

    /*----karusel----*/
    #pic1 {
        animation-delay: 0s;
        background-image: url(images/MkaruselN1.jpg);
      }
      #pic2 {
        animation-delay: 7s;
        background-image: url(images/MkaruselT1.jpg);
      }
      #pic3 {
        animation-delay: 14s;
        background-image: url(images/MkaruselK1.jpg);
      }
      #pic4 {
        animation-delay: 21s;
        background-image: url(images/MkaruselN2.jpg);
      }
      #pic5 {
        animation-delay: 28s;
        background-image: url(images/MkaruselT2.jpg);
      }
      #pic6 {
        animation-delay: 35s;
        background-image: url(images/MkaruselK2.jpg);
      }
      #pic7 {
        animation-delay: 42s;
        background-image: url(images/MkaruselN3.jpg);
      }
      #pic8 {
        animation-delay: 49s;
        background-image: url(images/MkaruselT3.jpg);
      }
      #pic9 {
        animation-delay: 56s;
        background-image: url(images/MkaruselK3.jpg);
      }


    .Lfilmtop{
        display: none;
    }
    .Mfilmtop{
        display: block;
        width: 100%;
    }
    /*------------BOKSE UDEN FLEX----------------------------------------*/
    .bogt{
        width: 100%;
        margin-top: 50px;
    }
    #sawaru{
        width: 50%;
        height: auto;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 50px;
        display: block;
    }
    /*--------------FLEXBOKSE---------------------------------------------*/
    .flex1b1t{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: space-between;
        gap: 100px;
    }
    .flex2b1t{
        flex-direction: column;
        padding-right: 0%;
    }
    .freverse{
        padding-left: 0%;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .columnreverse{
        flex-direction: column-reverse;
    }
    /*-----------FLEX INDHOLD----------------------------------------------*/
    .flex1bt1tekst{
        width: 80%;
        margin: auto;
    }
    .Lflex1b1tbillede{
        display: none;
    }
    .Mflex1b1tbillede{
        width: 100%;
        height: auto;
        display: block;
    }
    .laptopbillede{
        display: none;
    }
    .mobilbillede{
        display: block;
    }
    .lbilledembaggrund{
        display: none;
    }
    .mbilledembaggrund{
        width: 70%;
        height: auto;
        margin: auto;
        margin-bottom: 40px;
        display: block;
    }
    .mbogtbillede{
        width: 100%;
        height: auto;
        display: block;
    }
    .lbogtbillede{
        display: none;
    }
    .mflex2b1tbillede{
        width: 70%;
        height: auto;
        display: block;
    }
    .lflex2b1tbillede{
        display: none;
    }
    .mflex2b1tbillede{
        width: 90%;
        height: auto;
        margin-left: 0px;
        margin-top: 100px;
        display: block;
    }

    .lflex2b1tbillede{
        display: none;
    }
    .bogttekst{
        width: 80%;
        margin: auto;
    }
    .mbogtbillede{
        width: 70%;
        height: auto;
        display: block;
        margin: auto;
        margin-top: 50px;
    }
    .lbogtbillede{
        display: none;
    }
    .l2btextur{
        width: 37%;
        height: auto;
        display: none;
    }
    .m2btextur{
        width: 80%;
        height: auto;
        display: block;
    }
    .video{
        display: block;
    }
    .tekstreverse{
        padding-bottom: 100px;
        padding-top: 0px;
    }
    footer{
        flex-direction: column;
        margin-top: 50px;
    }
}